<div class="login-container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Username</mat-label>
          <input matInput formControlName="username" required>
        </mat-form-field>

        <mat-form-field appearance="fill" class="full-width">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" required>
        </mat-form-field>

        <div class="button-row">
          <button mat-raised-button color="primary" type="submit">Connect</button>
        </div>
      </form>
    </mat-card-content>

    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <div class="alternative-section">
      <h3>Don't have an account ?</h3>
      <button mat-stroked-button color="primary" routerLink="/register">
        Create an account
      </button>
    </div>
  </mat-card>
</div>
