<div class="task-container">
  <h2>Task List</h2>

  <button routerLink="/tasks/new" class="add-task-button">
    <span class="material-symbols-outlined">add</span>
    Add New Task
  </button>

  <mat-list class="task-list">
    <mat-list-item *ngFor="let task of tasks" class="task-item">
      <div mat-line class="task-title-line">
        <a [routerLink]="['/tasks', task.id]" class="task-link">
          <strong>{{ task.title }}</strong>
        </a>
      </div>
      <div mat-line class="status-line">
        Status:
        <span [ngStyle]="{ color: task.done ? 'green' : 'red' }">
          {{ task.done ? 'Completed' : 'Pending' }}
        </span>
      </div>
    </mat-list-item>
  </mat-list>
</div>
