.container {
    padding: 16px;
  }
  
  .navbar {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    align-items: center;
  }
  
  .logo {
    font-size: 1.3rem;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .custom-navbar {
    background-color: #2c387e; /* Indigo shade */
    color: white;
  }
  
  a[mat-button] {
    color: white !important;
  }
  
  a[mat-button]:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  