.task-header {
  display: flex;
  justify-content: space-between; /* Add button goes to the right */
  align-items: center;
  flex-wrap: wrap; /* Allow wrapping on smaller screens */
  padding: 0 8px 8px;
}

.task-controls {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.task-controls mat-form-field {
  width: 200px; /* control consistent field width */
}

.add-task-button {
  background-color: #3f51b5;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap; /* Prevent button text from breaking */
}

.add-task-button:hover {
  background-color: #303f9f;
}

.task-list-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 32px;
  padding: 32px;
  max-height: calc(2 * 350px + 32px); /* Adjust 350px to your card height if needed */
  overflow-y: auto;
}

@media (max-width: 1200px) {
  .task-list-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .task-list-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .task-list-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    padding: 8px;
    gap: 16px;
    max-height: none;
  }
}

.task-card {
  padding: 32px;
  border-radius: 12px;
  transition: box-shadow 0.3s ease-in-out;
}

.task-card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.task-link {
  text-decoration: none;
  color: #3f51b5;
  font-size: 1.1rem;
}

.task-link:hover {
  text-decoration: underline;
}

.task-status {
  font-weight: bold;
}

.task-status.done {
  color: green;
}

.task-status.pending {
  color: red;
}

.pagination-controls {
  display: flex;
  align-items: center;
  gap: 16px;
  flex-wrap: wrap; /* Allow wrapping if needed */
}

.pagination-form-field {
  min-width: 140px; /* Increase width for label */
  flex-shrink: 0;
}